.idea
.DS_Store
node_modules/
**/node_modules/*
tinker/
functions/index.js
**/functions
**/.firebaserc
**/package-lock.json
index.js
pwagram-fb-key.json
**/firebase/*
../.firebase/
../functions/package.json
../functions/package-lock.json
../functions/index.js
./functions/index.js
*/functions/index.js
/functions/index.js
functions
/.firebase/
